@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Oswald:wght@300&display=swap");

$black_color: #000;
$white_color: #fff;
$fontOpenSans: "Open Sans", sans-serif;
$fontTitle: "Oswald", sans-serif;
